<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<!-- replace head -->
<head th:replace="layout/head::head">
</head>

<body>
	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Ufoportal</a>
				</div>
				<!-- /.navbar-header -->

				<!-- /.navbar-top-links -->
				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li><a th:href="@{/greeting}"><i
									class="fa fa-dashboard fa-fw"></i> Greeting</a></li>
							<li><a th:href="@{/ufopercounty}"><i
									class="fa fa-map-o fa-fw"></i> UFO pro County</a></li>
							<li><a th:href="@{/ufopershape?shape=changed}"><span
									class="glyphicon glyphicon-cd"></span> UFO pro County und Art</a></li>
						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>
				<!-- /.navbar-static-side -->
			</div>
		</nav>

		<div class="container-fluid">
			<div id="page-wrapper">
				<div class="row">
					<div class="col-md-8">
						<!-- Content (replace) -->
						<div th:replace="${view} :: content"></div>
						<!-- <h1 class="page-header">Dashboard</h1> -->

					</div>
					<!-- /.col-md-12 -->
				</div>
			</div>
			<!-- /#page-wrapper -->
		</div>
	</div>
	<!-- /#wrapper -->

</body>
</html>