<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
	<meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
 
 	<!-- ##### JavaScript ##### -->  
	<!-- JQuery --> 
	<script type="text/javascript" src="jquery/jquery-2.1.4.min.js"></script>

	<!-- Bootstrap -->
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	
	<!--  SB Admin Theme --> 
	<script type="text/javascript" src="bootstrap-sb-admin/dist/js/sb-admin-2.js"></script>
    <script type="text/javascript" src="bootstrap-sb-admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>
		   
  	<!-- ##### CSS ##### -->
  	<!-- Bootstrap --> 
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
	
	<!--  SB Admin Theme --> 
	<link rel="stylesheet" href="bootstrap-sb-admin/dist/css/sb-admin-2.css"/>
    <link rel="stylesheet" href="bootstrap-sb-admin/bower_components/metisMenu/dist/metisMenu.min.css"/>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>

	<!-- Ufoportal  -->
	<link rel="stylesheet" href="css/ufoportal.css"/>

 	</head>
</html>